<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户添加页面</title>
</head>
<body>
<form action="/data" method="post">
    <table width="500px">
        userId:<input type="text" name="userId" value="" align="center"><br/>
        userName:<input type="text" name="userName" value="" align="center"><br/>
        userPassword:<input type="password" name="userPassword" value="" align="center"><br/>
        userEmail:<input type="text" name="userEmail" value="" align="center"><br/>
       <button onclick="onSearch()">提交用户信息</button>
    </table>

</form>
<script>
    function onSearch(e) {

    }
</script>


</body>
</html>